.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

### Manually added ###
.claude/**
.idea/**
node_modules/**
notes/**
*.bat
eslint.config.js
images/*.svg
package-lock.json
TODO.md
